@font-face
{
    font-family: 'droidlogoplain';
    src: url('../fonts/droidlogo-regular-webfont.eot');
    src: url('../fonts/droidlogo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidlogo-regular-webfont.woff') format('woff'),
         url('../fonts/droidlogo-regular-webfont.ttf') format('truetype'),
         url('../fonts/droidlogo-regular-webfont.svg#droidlogoplain') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KiteOne';
    src: url('../fonts/KiteOne.eot');
    src: url('../fonts/KiteOne.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KiteOne.woff') format('woff'),
         url('../fonts/KiteOne.ttf') format('truetype'),
         url('../fonts/KiteOne.svg#KiteOne') format('svg');
    font-weight: normal;
    font-style: normal;

}